@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    /* ใช้สีธีมใหม่เป็นค่าเริ่มต้น */
    @apply bg-bakery-cream text-stone-800 font-mali;
  }
}

/*ตะกร้าเด้ง*/
@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.cart-pop-animation {
  animation: pop 0.3s ease-in-out;
}